@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Sen',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  padding: 4% 1%;
  margin: 0 auto;
  text-align: center;
}

a{
  cursor: pointer;
}

/* Profile Head */

.profile_head{
  position: relative;
}

.profile_head > img:nth-child(1){
  position: absolute;
  visibility: visible;
  right: 20%;
  top: 20%;
}

.profile_head > img:nth-child(2){
  visibility: hidden;
}

@media (max-width: 700px) {
  .profile_head > img:nth-child(2){
    visibility: visible;
    position: absolute;
    right: 1rem;
    top: 0rem;
  }

  .profile_head > img:nth-child(1){
    visibility: hidden;
  }
  
}

#profile__img{
  width: 120px;
}

/* Link Button */

button{
  text-align: center;
  background: #EAECF0;
  border-radius: 8px;
  width: 90%;
  padding: 0.8rem;
  font-size: 1.1rem;
  font-weight: 600;
  border: 1px solid #EAECF0;
  margin: 0.6rem auto;
  cursor: pointer;
}

/* Footer */

.footer{
  padding: 0 4%;
}

.top__footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

.bottom__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(128, 128, 128, 0.4);
}

.bottom__footer > img{
  max-width: 150px;
}


@media (max-width: 720px) {
  .App{
    padding: 10% 5%;
  }
  .bottom__footer{
    flex-direction: column;
    gap: 0.2rem;
  }
}